<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/see.css">
</head>

<body>
    <div class="container">
        <div class="id i">
            <h2 id="ii">The ID: </h2>
            <p><%= prod.id %></p>
        </div>
        <div class="created i">
            <h2>CreatedAt</h2>
            <p><%= prod.createdAt.toDateString() %></p>
        </div>


        <div class="info">
            <div>
                
        <div class="name f">
            <h2>Brand :</h2>
            <p> <%= prod.name %></p>
        </div>
        <div class="cat f">
            <h2>Category :</h2>
            <p> <%= prod.category.name %></p>
        </div>
    </div>
    <div>

        <div class="status f">
            <h2>Status</h2>
            <p><%= prod.status %></p>
        </div>
        <div class="price f">
            <h2>Product Price</h2>
            <p class="pr"><%= prod.price.split("_").join("") %>$</p>
        </div>
    </div>
        <div>

        <div class="Amount f">
            <h2>Product Amount</h2>
            <p><%= prod.amount %> </p>
        </div>
    </div>
</div>


        <a href="/">DashBoard</a>
    </div>
</body>
</html>